body {
  min-height: 97vh;
  margin: 0px;
  background-color: #212b34;
  font-family: "Open Sans", sans-serif;
  color: #F5F5F5;
  font-size: 18px;
}
body header {
  width: 100%;
  height: 7%;
  background-color: rgb(240, 84, 84);
}
body main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
body main nav {
  width: 100%;
  height: 45px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  background-color: rgba(240, 84, 84, 0.5);
}
body main nav ul {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding: 0px;
  margin: 0px;
}
body main nav ul li {
  width: 130px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
body main nav ul .select {
  color: rgba(235, 187, 30, 0.877);
}
body main .system_block {
  display: flex;
  justify-content: space-between;
  margin: 20px 80px;
}
body main .system_block .system_block_generique {
  width: 280px;
  height: 230px;
  padding: 1px;
  border-radius: 5px;
  background-color: #283a48;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
body main .system_block .system_block_generique h5 {
  text-align: left;
  width: 80%;
}
body main .system_block .system_network {
  width: 350px;
  height: 150px;
}
body main .system_block_bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
body main .system_block_bottom .system_block_bottom_generique {
  width: 40%;
  margin: 0px 80px;
  display: flex;
  flex-direction: column;
}
body main .system_block_bottom .system_block_bottom_generique p {
  color: #848b93;
  margin: 7px 0px;
  font-size: 16px;
}
body main .system_block_bottom .system_block_bottom_generique .system_block_generique {
  width: 420px;
  height: 130px;
  padding: 1px;
  margin: 15px 0px;
  border-radius: 5px;
  background-color: #283a48;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
}
body main .system_block_bottom .system_block_bottom_generique .system_block_generique h5 {
  width: 90%;
  margin: 0;
}
body main .system_block_bottom .system_block_bottom_generique .system_block_generique span {
  display: flex;
  justify-content: flex-end;
  width: 380px;
  background-color: #212b34;
}
body main .system_block_bottom .system_block_bottom_generique .system_block_generique span p {
  position: relative;
  top: 20px;
  margin: 0px;
  color: #848b93;
}
body main .system_block_bottom .system_block_bottom_generique .system_block_generique #span-download {
  box-shadow: inset 0px 0px 0px 0px rgba(140, 15, 241, 0.5);
}
body main .system_block_bottom .system_block_bottom_generique .system_block_generique #span-upload {
  box-shadow: inset 0px 0px 0px 0px rgba(2, 149, 160, 0.5);
}
body main .system_block_bottom .system_info {
  height: 90%;
}
body main .system_block_bottom .system_network {
  align-items: end;
}

/* @KeyFrame */
@keyframes menu_anim {
  0% {
    border-bottom: none;
  }
  20% {
    border-bottom: solid 3px #E2D784;
  }
  40% {
    border-bottom: solid 3px #E2D784;
    border-right: solid 3px #E2D784;
  }
  60% {
    border-bottom: solid 3px #E2D784;
    border-right: solid 3px #E2D784;
    border-top: solid 3px #E2D784;
  }
  100% {
    border-bottom: solid 3px #E2D784;
    border-right: solid 3px #E2D784;
    border-top: solid 3px #E2D784;
    border-left: solid 3px #E2D784;
  }
}
@keyframes AnimLogo {
  0% {
    box-shadow: 0 0 20px 10px rgb(160, 34, 34);
  }
  50% {
    box-shadow: 0 0 20px 110px rgb(160, 34, 34);
  }
  100% {
    box-shadow: 0 0 20px 10px rgb(160, 34, 34);
  }
}

/*# sourceMappingURL=style.css.map */
