<head>
    <title>Nina</title>
    <link rel="stylesheet" href="http://enerzein.fr:6200/api/css/Nina">
    <link rel="icon" type="image/png" href="http://enerzein.fr:6200/api/images/Nina60">
    <meta charset="UTF-8">
</head>