<head>
    <title>Nina</title>
    <link rel="stylesheet" href="http://192.168.1.202:6200/api/css/Nina">
    <link rel="icon" type="image/png" href="http://annabelle.mhemery.com:6200/api/images/Nina60">
    <meta charset="UTF-8">
</head>