body {
    min-height: 97vh;
    margin: 0px;
    background-color: $Background_Color;
    font-family: 'Open Sans', sans-serif;
    color: $texte;
    font-size: 18px;
    // HEADER
    header {
        width: 100%;
        height: 7%;
        background-color: $Header;
    }
    main {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        // BARRE DE NAVIGATION
        nav {
            width: 100%;
            height: 45px;
            margin-bottom: 10px;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            align-content: center;
            background-color: $color_six;
            ul {
                width: 100%;
                display: flex;
                justify-content: space-evenly;
                padding: 0px;
                margin: 0px;
                li {
                    width: 130px;
                    display: flex;
                    justify-content: center;
                    cursor: pointer;
                }
                .select {
                    color: $color_add_five;
                }
            }
        }
        // CPU BLOCK
        .system_block {
            display: flex;
            justify-content: space-between;
            margin: 20px 80px;
            .system_block_generique {
                width: 280px;
                height: 230px;
                padding: 1px;
                border-radius: 5px;
                background-color: $color_one;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                align-content: center;
                h5 {
                    text-align: left;
                    width: 80%;
                }
            }
            .system_network {
                width: 350px;
                height: 150px;
            }
        }
        .system_block_bottom {
            display: flex;
            justify-content: space-between;
            margin-top: 20px;
            .system_block_bottom_generique {
                width: 40%;
                margin: 0px 80px;
                display: flex;
                flex-direction: column;
                p {
                    color: $color_seven;
                    margin: 7px 0px;
                    font-size: 16px;
                }
                .system_block_generique {
                    width: 420px;
                    height: 130px;
                    padding: 1px;
                    margin: 15px 0px;
                    border-radius: 5px;
                    background-color: $color_one;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    align-items: center;
                    align-content: center;
                    h5 {
                        width: 90%;
                        margin: 0;
                    }
                    span {
                        display: flex;
                        justify-content: flex-end;
                        width: 380px;
                        background-color: $Background_Color;
                        p {
                            position: relative;
                            top: 20px;
                            margin: 0px;
                            color: $color_seven;
                        }
                    }
                    #span-download {
                        box-shadow: inset 0px 0px 0px 0px rgba(140, 15, 241, 0.5)
                    }
                    #span-upload {
                        box-shadow: inset 0px 0px 0px 0px rgba(2, 149, 160, 0.5)
                    }
                }
            }
            .system_info {
                height: 90%;
            }
            .system_network {
                align-items: end;
            }
        }
    }
}


/* @KeyFrame */

@keyframes menu_anim {
    0% {
        border-bottom: none;
    }
    20% {
        border-bottom: solid 3px $color_three;
    }
    40% {
        border-bottom: solid 3px $color_three;
        border-right: solid 3px $color_three;
    }
    60% {
        border-bottom: solid 3px $color_three;
        border-right: solid 3px $color_three;
        border-top: solid 3px $color_three;
    }
    100% {
        border-bottom: solid 3px $color_three;
        border-right: solid 3px $color_three;
        border-top: solid 3px $color_three;
        border-left: solid 3px $color_three;
    }
}

@keyframes AnimLogo {
    0% {
        box-shadow: 0 0 20px 10px $color_add_four;
    }
    50% {
        box-shadow: 0 0 20px 110px $color_add_four;
    }
    100% {
        box-shadow: 0 0 20px 10px $color_add_four;
    }
}