// Font du site
$font_logo: 'DM Serif Text',
serif;
$font_primary: 'Open Sans',
sans-serif;
// Arrière plan du site + Texte
$Background_Color: #30475E;
$Header: rgb(240, 84, 84);
$texte: #F5F5F5;
$texte_black: #000000;
// COLOR
$color_one: rgba(6, 44, 48, 0.37);
$color_two: #05595B;
$color_three: #E2D784;
$color_four: #F5F5F5;
$color_five: rgb(160, 34, 34);
// ADDITIONNEL
$color_add_one: rgb(40, 155, 250);
$color_add_two: #000000;
$color_add_three: rgba(29, 211, 59, 0.877);
$color_add_four: rgba(160, 34, 34, 1);
$color_add_five: rgba(235, 187, 30, 0.877);