<html>

<head>
    <title>Nina</title>
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="icon" type="image/png" href="images/Agent150.png">
    <meta charset="UTF-8">
</head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<body>
    <header><img src="images/Nina.png">
        <h3>Configuration de l'agent</h3>
    </header>
    <main>
        <h1>Configuration de l'agent !</h1>
        <p>Voici la page de configuration de l'agent, compatible Windows et Linux.<br>Pour commencer, veuillez verifier que vous disposez d'une connexion internet, ou que le (serveur/container/VM) ont accès à internet. Si c'est le cas, vous pouvez poursuivre.<br>            Veuillez aussi que le port 6200 soit ouvert, pour valider l'inscription de l'agent.


            <br><br> Pour continuer, cliquer sur le logo </p>
        <img class="start" src="images/Agent150.png">
        <h3>En attente de validation de l'utilisateur</h3>
    </main>
    <script src="javascripts/index.js"></script>
</body>

</html>