<!DOCTYPE html>
<html>
<%- include('../partials/head'); %>

    <body>
        <header><img src="http://localhost:6200/api/images/Nina"></header>
        <main class="content-block">
            <div class="dashboard">
                <div class="blockTop blockGEN">
                    <div class="card-block">
                        <div class="card-line-one">
                            <h2>Nina (Server)</h2>
                        </div>
                        <div class="card-line-two">
                            <div class="col col-left">
                                <h4>État du module</h4>
                                <p><span class="off">Arrêté</span></p>
                            </div>
                            <hr class="divider">
                            <div class="col col-right">
                                <h4>PING (ms)</h4>
                                <p><span class="off">***</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="card-block">
                        <div class="card-line-one"><img src="images/logos/PixBo/PixBo.png" alt="Logo PixBo" width="190px"></div>
                        <div class="card-line-two">
                            <div class="col col-left">
                                <h4>État du module</h4>
                                <p><span class="off">Arrêté</span></p>
                            </div>
                            <hr class="divider">
                            <div class="col col-right">
                                <h4>PING (ms)</h4>
                                <p><span class="off">***</span></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="blockMiddle blockGEN">
                    <div class="card-block">
                        <div class="card-line-one">
                            <h2>API</h2>
                        </div>
                        <div class="card-line-two">
                            <div class="col col-left">
                                <h4>État du module</h4>
                                <p><span class="off">Arrêté</span></p>
                            </div>
                            <hr class="divider">
                            <div class="col col-right">
                                <h4>PING (ms)</h4>
                                <p><span class="off">***</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="ninastatut"><img src="http://localhost:6200/api/images/Nina150" alt="Logo Nina"></div>
                    <div class="card-block">
                        <div class="card-line-one"><img src="images/logos/AnnaBo/AnnaBo-v3(150×60px).png" alt="Logo AnnaBo" width="190px"></div>
                        <div class="card-line-two">
                            <div class="col col-left">
                                <h4>État du module</h4>
                                <p><span class="off">Arrêté</span></p>
                            </div>
                            <hr class="divider">
                            <div class="col col-right">
                                <h4>PING (ms)</h4>
                                <p><span class="off">***</span></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="blockBottom blockGEN">
                    <div class="card-block">
                        <div class="card-line-one">
                            <h2>Discord</h2>
                        </div>
                        <div class="card-line-two">
                            <div class="col col-left">
                                <h4>État du module</h4>
                                <p><span class="off">Arrêté</span></p>
                            </div>
                            <hr class="divider">
                            <div class="col col-right">
                                <h4>PING (ms)</h4>
                                <p><span class="off">***</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="card-block">
                        <div class="card-line-one"><img src="images/logos/SAM/logomedium.png" alt="Logo SAM" width="190px"></div>
                        <div class="card-line-two">
                            <div class="col col-left">
                                <h4>État du module</h4>
                                <p><span class="off">Arrêté</span></p>
                            </div>
                            <hr class="divider">
                            <div class="col col-right">
                                <h4>PING (ms)</h4>
                                <p><span class="off">0</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
            <script>
            </script>
        </main>
    </body>

</html>