body {
  display: flex;
  min-height: 97vh;
  margin: 0px;
  background-color: #ebebeb;
  font-family: "Open Sans", sans-serif;
  color: #F5F5F5;
  font-size: 18px;
}
body a {
  text-decoration: none;
}
body header {
  display: flex;
  width: 200px;
  height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #095b8b;
}
body header img {
  width: 60px;
  padding: 20px 0px;
}
body header nav {
  width: 100%;
  margin: 50px 0px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
}
body header nav ul {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  align-content: center;
  padding: 10px 0px;
  margin: 0px;
}
body header nav ul li {
  width: 100%;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
body header nav ul li a {
  width: 200px;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  color: #ebebeb;
  padding: 20px 0px;
  margin: 10px 0px;
}
body header nav ul li a i {
  width: 30px;
  margin: 0px 10px;
  font-size: 20px;
}
body header nav ul li a span {
  width: 170px;
  margin: 0px 10px;
  font-weight: bold;
}
body header nav ul li .select {
  background-color: #094166;
}
body header .login {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 50px;
  margin: 0px;
  padding: 10px 0px 10px 0px;
  background-color: #04273d;
  text-align: center;
  align-items: center;
}
body header .login img {
  width: 40px;
  height: 40px;
}
body header .login p {
  display: flex;
  flex-direction: column;
}
body header .login p span {
  font-size: 14px;
}
body header .login p .name {
  font-weight: bold;
}
body main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body main .top-bar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  padding: 10px 0px 10px 0px;
  color: #F5F5F5;
  background-color: #04273d;
}
body main .top-bar h4 {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 0px 15px;
}
body main .top-bar .notif-btn-add {
  width: 40%;
  display: flex;
  justify-content: flex-end;
  padding: 0px 30px;
}
body main .top-bar .notif-btn-add p {
  display: flex;
  justify-content: flex-end;
  width: 60%;
  height: 50px;
  margin: 0px;
  text-align: center;
  align-items: center;
}
body main .top-bar .notif-btn-add p i {
  font-size: 30px;
  width: 25px;
  height: 25px;
}
body main .top-bar .notif-btn-add p span {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 25px;
  height: 25px;
  font-size: 15px;
  background-color: rgb(160, 34, 34);
  color: #F5F5F5;
  font-weight: bold;
  border-radius: 50%;
  margin: 0px 15px;
  padding: 3px;
  position: relative;
  top: -15px;
  right: 20px;
}
body main .top-bar .notif-btn-add .block-notif-all {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: absolute;
  width: 340px;
  height: 400px;
  top: 60px;
  right: 275px;
  z-index: 1;
  align-items: end;
}
body main .top-bar .notif-btn-add .block-notif-all .triangle-code {
  display: inline-block;
  height: 0;
  width: 0;
  z-index: 2;
  margin-right: 20px;
  border-right: 15px solid transparent;
  border-bottom: 20px solid #094166;
  border-left: 15px solid transparent;
}
body main .top-bar .notif-btn-add .block-notif-all .box-notif {
  width: 340px;
  height: 95%;
  background-color: #283a48;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 10px #F5F5F5;
}
body main .top-bar .notif-btn-add .block-notif-all .box-notif h3 {
  margin: 0px;
  padding: 10px 0px;
  border-radius: 10px 10px 0px 0px;
  text-align: center;
  background-color: #094166;
}
body main .top-bar .notif-btn-add .block-notif-all .box-notif .bar-notif-bottom {
  font-size: 14px;
  border-radius: 0px 0px 10px 10px;
}
body main .top-bar .notif-btn-add .block-notif-all .box-notif .box-notif-all {
  width: 100%;
  height: 80%;
  padding: 5px 0px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  flex-direction: column;
  overflow-y: scroll;
  scrollbar-color: rebeccapurple green;
  scrollbar-width: thin;
}
body main .top-bar .notif-btn-add .block-notif-all .box-notif .box-notif-all .notif-box {
  width: 95%;
  margin: 5px 0px;
  border-radius: 5px;
  background-color: rgba(235, 187, 30, 0.6);
}
body main .top-bar .notif-btn-add .block-notif-all .box-notif .box-notif-all .notif-box h4 {
  font-size: 16px;
  padding: 5px 0px;
}
body main .top-bar .notif-btn-add .block-notif-all .box-notif .box-notif-all .notif-box p {
  width: 94%;
  text-align: start;
  display: flex;
  justify-content: flex-start;
  font-size: 12px;
  padding: 8px 10px;
  height: auto;
}
body main .top-bar .notif-btn-add .hidden {
  display: none;
}
body main .top-bar .notif-btn-add a {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 200px;
  text-align: center;
  padding: 5px 10px;
  color: #000000;
  background-color: rgba(235, 187, 30, 0.6);
  border-radius: 5px;
  border-bottom: solid 5px rgb(235, 187, 30);
  transition: 0.3s;
}
body main .top-bar .notif-btn-add a:hover {
  background-color: rgb(235, 187, 30);
  transition: 0.3s;
}
body main .list-modules {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  background-color: #333333;
}
body main .list-modules h2 {
  width: 100%;
  margin: 0px;
  padding: 10px 0px;
  text-align: center;
  background-color: #094166;
}
body main .list-modules .block-module {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 100%;
  background-color: #333333;
}
body main .list-modules .block-module .block-generique {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 400px;
  margin: 20px;
  color: #F5F5F5;
  background-color: #283a48;
  border-radius: 10px;
  border: solid 1px #3f3f3f;
}
body main .list-modules .block-module .block-generique h3 {
  width: 100%;
  height: 30px;
  margin: 0px;
  padding: 10px 0px;
  text-align: center;
  border-radius: 10px 10px 0px 0px;
  background-color: #094166;
}
body main .list-modules .block-module .block-generique .block-col-gen {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}
body main .list-modules .block-module .block-generique .block-col-gen p {
  text-align: center;
}
body main .list-modules .block-module .block-generique .block-col-gen .block-description {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: start;
}
body main .list-modules .block-module .block-generique .block-col-gen .block-description span {
  margin: 5px 0px;
}
body main .list-modules .block-module .block-generique .block-col-gen img {
  margin-top: 20px;
  width: 100px;
  height: 100px;
}
body main .list-modules-installed {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 96%;
  margin: 20px 0px;
  border-radius: 5px;
  color: #F5F5F5;
  background-color: #283a48;
}
body main .list-modules-installed .bar-module {
  width: 100%;
  display: flex;
  align-items: center;
}
body main .list-modules-installed .bar-module i {
  margin: 0px 15px;
  font-size: 20px;
}
body main .list-modules-installed .top-bar-module {
  border-radius: 5px 5px 0px 0px;
  background-color: #04273d;
}
body main .list-modules-installed .middle-bar-module {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
body main .list-modules-installed .middle-bar-module .tbl-gen {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  text-align: center;
}
body main .list-modules-installed .middle-bar-module .tbl-gen .statut {
  width: 10%;
}
body main .list-modules-installed .middle-bar-module .tbl-gen .name {
  width: 15%;
}
body main .list-modules-installed .middle-bar-module .tbl-gen .description {
  width: 40%;
}
body main .list-modules-installed .middle-bar-module .tbl-gen .version {
  width: 15%;
}
body main .list-modules-installed .middle-bar-module .tbl-gen .action {
  width: 15%;
}
body main .list-modules-installed .bottom-bar-module {
  background-color: #094166;
  border-radius: 0px 0px 5px 5px;
}
body main .list-modules-installed .bottom-bar-module p {
  margin: 0px 20px;
  padding: 5px 0px;
  height: 20px;
}

/* @KeyFrame */
@keyframes menu_anim {
  0% {
    border-bottom: none;
  }
  20% {
    border-bottom: solid 3px #E2D784;
  }
  40% {
    border-bottom: solid 3px #E2D784;
    border-right: solid 3px #E2D784;
  }
  60% {
    border-bottom: solid 3px #E2D784;
    border-right: solid 3px #E2D784;
    border-top: solid 3px #E2D784;
  }
  100% {
    border-bottom: solid 3px #E2D784;
    border-right: solid 3px #E2D784;
    border-top: solid 3px #E2D784;
    border-left: solid 3px #E2D784;
  }
}
@keyframes AnimLogo {
  0% {
    box-shadow: 0 0 20px 10px rgb(160, 34, 34);
  }
  50% {
    box-shadow: 0 0 20px 110px rgb(160, 34, 34);
  }
  100% {
    box-shadow: 0 0 20px 10px rgb(160, 34, 34);
  }
}

/*# sourceMappingURL=style.css.map */
