// Font du site
$font_logo: 'DM Serif Text',
serif;
$font_primary: 'Open Sans',
sans-serif;
// Arrière plan du site + Texte
$Background_Color: #ebebeb;
$Header: #095b8b;
$texte: #F5F5F5;
$texte_black: #000000;
// COLOR
$color_one: #283a48;
$color_two: #05595B;
$color_three: #E2D784;
$color_four: #F5F5F5;
$color_five: rgb(160, 34, 34);
$color_six: #04273d;
$color_seven: #333333;
$color_eight: #3f3f3f;
$color_nine: #c9c9c9;
// ADDITIONNEL
$color_add_one: #094166;
$color_add_two: #000000;
$color_add_three: rgba(29, 211, 59, 0.877);
$color_add_four: rgba(160, 34, 34, 1);
$color_add_five: rgba(235, 187, 30, 0.6);
$color_add_six: rgba(235, 187, 30, 1);